/* General Styles of the page-------------------------------*/

body {
  background-image: linear-gradient(rgb(19, 17, 17),rgb(8, 7, 7));
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.main {
  margin: 5px;
  color: rgb(228, 227, 227);
}

/* NAVBAR --------------------------------------------------*/
.navbar {
  overflow: hidden;
  background-color: #070707;
  position: sticky;
  top: 0;
  width: 100%;
  font-family: 'Hammersmith One', sans-serif;
  z-index: 5;
}

.navbar a {
  float: left;
  display: block;
  color: rgb(14, 14, 14);
  text-align: center;
  text-decoration: none;
  margin: 0px;
  transition: 0.2s;
  padding: 10px;
  color: rgb(187, 184, 184);
}
.navbar a:hover {
  color: white;
}

.navbar a:active {
  background-color: #fefffee0;
  color: black;
}

/*FIX NAVBAR ANCHOR OVERLAY https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header*/
.anchor {
  display: block;
  position: relative; 
  top: -7.2em;
  visibility: hidden;
}

/* PROFILE PICTURE AND DESCRIPTION--------------------------*/
.main h1 {
  text-align: center;
  color: rgb(228, 227, 227);
}

.about {
  margin-top: 0;
  margin-bottom: 70px;
  overflow: hidden;
}

.profile-pic img{
  width: 210px;
  margin-right: 1%;
  padding: 3px;
  height: 280px;
  border-radius: 0.4em;
}

.profile-pic {
  float: left;
}

.description {
  text-align: justify;
  font-size: 18px;
  padding: 0 10px;
  margin-left: 240px;
  margin-right: 5px;
  width: auto;
  height: 310px;
}

.description h2{
  text-align: center;
}

/* SKILLS---------------------------------------------------*/
.skills {
  border-radius: 0.4em;
  background-image: url(/imagens/cover_galactic.jpg);
  background-size: unset;
}

.skills h2{
  text-align: center;
  padding-top: 5px;
  color: rgb(226, 226, 226);
}
.skills-list {
  display: inline-block;
  border-radius: 0.5em;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.904);
  margin: 9px;
  position: relative;
  width: 40%;
  left: 30%;
  right: 30%;
  line-height: 30px;
  z-index: 1;
}

.skills-list li::before {
  content: '';
  display: inline-block;
  height: 25px;
  width: 16px;
  background-size: 16px;
  background-repeat: no-repeat;
  margin-right: 10px;
  text-align: left;
  position: relative;
  top: 12px;
}

.skills-list li{
  list-style-type: none;
  margin: 10px;
}

.skills-list li:nth-of-type(1):before{
  background-image: url("/imagens/qgis.svg");
}
.skills-list li:nth-of-type(2):before{
  background-image: url("/imagens/esri.png");
}
.skills-list li:nth-of-type(3):before{
  background-image: url("/imagens/python.png");
}
.skills-list li:nth-of-type(4):before{
  background-image: url("/imagens/git.png");
}
.skills-list li:nth-of-type(5):before{
  background-image: url("/imagens/matlab.png");
}
.skills-list li:nth-of-type(6):before{
  background-image: url("/imagens/ingles.png");
}

/*FINAL SESSION---------------------------------------------*/
.hobbies {
  margin-top: 10px;
  height: 200px;
  display: inline-block;
}

.hobbies-content {
  border-right: 1px solid rgb(163, 163, 163);
  width: 40%;
  float: left;
  font-size: 14px;
  height: 12em;
}

.hobbies-content p a{
  text-decoration: none;
  color: #fefffee0;
  font-weight: bold;
  transition: 0.2s;
  border-radius: 0.3em;
}

.hobbies-content p a:hover{
  background-color: #fefffee0;
  color: black;
}

.repos {
  overflow: hidden;
}

.git {
  width: 40%;
  margin-left: 25%;
  margin-top: 8%;
  float: left;
}

.git img{
  width: 3em;
  opacity: 0.8;
}

.linkedin {
  width: 30%;
  overflow: hidden;
  margin-top: 8%;
}

.linkedin img{
  width: 6em;
  opacity: 0.8;
}


.linkedin img:hover{
  opacity: 1.0;
}


.git img:hover{
  opacity: 1.0;
}

.linkedin img:active{
  opacity: 0.6;
}


.git img:active{
  opacity: 0.6;
}

.footer {
  text-decoration: none;
  transition: 0.2s;
  color: #fefffee0;
  font-weight: bold;
}

.footer:hover {
  background-color: #fefffee0;
  color: black;
  border-radius: 0.2em;
  
}